root = true

[*]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = true

[*.{js,coffee,jsx,ts,dart}]
quote_type = single

[*.json]
quote_type = double

[*.{css,less,sass,scss}]
quote_type = double

[*.{html,jade}]
quote_type = double

[*.php]
indent_size = 4
